@model List<SliderItem>
@{
    string disabled = string.Empty;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Slider Items Table</h4>
                        <p class="card-description">
                            <a asp-action="Create">Create</a>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Short Descripiton
                                        </th>
                                        <th>
                                            Offer
                                        </th>

                                        <th>
                                            Is Deleted
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (SliderItem item in Model)
                                    {
                                        disabled = (item.IsDeleted) ? "disabled" : string.Empty;

                                        <tr>

                                            <td class="py-1">
                                                @item.Id
                                            </td>
                                            <td>
                                                <img src="~/assets/images/website-images//YatmisGozel.jpeg"
                                                     alt="Inner Image" />
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @item.ShortDescription
                                            </td>
                                            <td>
                                                @item.Offer %
                                            </td>

                                            <td>
                                                @item.IsDeleted
                                            </td>

                                            <td>
                                                <a class="btn btn-primary mr-2" asp-action="Info" asp-route-id="@item.Id">Info</a>
                                                <a class="btn btn-warning mr-2" style="color:#fff;" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                                <a class="btn btn-danger mr-2 @disabled" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
