@model List<SliderItem>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Striped Table</h4>
                        <p class="card-description">
                            Add class <code>.table-striped</code>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Short Descripiton
                                        </th>
                                        <th>
                                            Offer
                                        </th>
                                        <th>
                                            Created Date
                                        </th>
                                        <th>
                                            Last Modiifed Date
                                        </th>
                                        <th>
                                            Deleted Date
                                        </th>
                                        <th>
                                            Is Deleted
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (SliderItem item in Model)
                                    {
                                        <tr>

                                            <td class="py-1">
                                                @item.Id
                                            </td>
                                            <td>
                                                <img src="~/assets/images/website-images//@item.ImgPath" />
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @item.ShortDescription
                                            </td>
                                            <td>
                                                @item.Offer %
                                            </td>
                                            <td>
                                                @item.CreatedDate
                                            </td>
                                            <td>
                                                
                                                    @((item.LastModifiedDate is null )? "-" : item.LastModifiedDate.ToString())
                                                
                                            </td>
                                            <td>
                                                @{
                                                    string? date2 = (item.DeletedDate is null) ? "-" : item.DeletedDate.ToString();
                                                }
                                                @date2
                                            </td>
                                            <td>
                                                @item.IsDeleted
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:~/admin/assets/partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard template</a> from Bootstrapdash.com</span>
        </div>
    </footer>
    <!-- partial -->
</div>
